{{#each this}}
<div class='country__card'>
    <div class='country__container'>
        <div class='country__descr'>
            <h2 class='country__name'>{{name}}</h2>

            <p class='country__text'>Capital: <span class='country__text--span'>{{capital}}</span></p>
            <p class='country__text'>Population: <span class='country__text--span'>{{population}}</span></p>
            <p class='country__text'>Languages:</p>

            <ul>
                {{#each languages}}
                    <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>

        <div>
            <img class='country__flag' src='{{flag}}' alt='{{name}}' width='500' height='250' />
        </div>
    </div>

</div>
{{/each}}